

<blinked-qr
#qrcode
[template]="template"
[width]="200"
[height]="200"
[qrOptions]="{ errorCorrectionLevel: 'L' }"
[config]="{data:data}"
>
</blinked-qr>


<blinked-qr
[template]="'sunflower'"
[data]="'blinked-qr'"
[width]="200"
[height]="200"
[qrOptions]="{ errorCorrectionLevel: 'L' }"
></blinked-qr>
<div class="qr_name">sunflower</div>

<blinked-qr
[template]="'luxury'"
[data]="'blinked-qr'"
[width]="200"
[height]="200"
[qrOptions]="{ errorCorrectionLevel: 'L' }"
></blinked-qr>

<blinked-qr
[template]="'bitcoin'"
[data]="'blinked-qr'"
[width]="200"
[height]="200"
[image]="
  'https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/50px-Bitcoin.svg.png'
"
>
</blinked-qr>

<input type="text" [(ngModel)]="template"/>
<input type="text" [(ngModel)]="data"/>
{{template}}
<br>
{{data}}

<blinked-qr
[template]="'ocean'"
[data]="'ngx-qrcode-styling'"
[width]="285"
[height]="285"
[frameOptions]="frame"
>
</blinked-qr>
<div class="qr_name">F_021</div>


